<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=3">
        <title>AKK - Find Route</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="js/handlebars.min.js"></script>
        <script src="js/eventnotifier.js"></script>
        <script src="js/navigation-service.js"></script>
        <script src="js/dialog-service.js"></script>
        <script src="js/cookie-service.js"></script>
        <script src="js/config.js"></script>
        <script src="js/client.js"></script>
        <script src="js/header-view-model.js"></script>
        <script src="js/admin-panel-view-model.js"></script>
        <script src="js/admin-panel.js"></script>
        <script type="text/javascript" src="js/helpers.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div class="content admin">
            <div id="section-admin"></div>
            <div id="routes-content"></div>
        </div>
    </body>
</html>