<div class="content-section string-input">
    <h2>Route creator</h2>
    <input class="author-input" type="text" onchange="viewModel.changeAuthor(this.value)" value="{{route.author}}" placeholder="Author">
</div>