<div class="content image-picker">
    {{#if isAuthed}}
    <form id="beta-form" enctype="multipart/form-data">
        <label for="files" class="submit-button neutral left no-select"> Add Beta</label>
        <input class="hidden" id="files" name="file" type="file" accept="video/*" onchange="viewModel.addBeta($(this).parent()[0]);">
    </form>
    {{/if}}
    {{#each videos}}

    {{/each}}
</div>