<script src="js/templates/header-template.js"></script>
<div class="header">
    <div class="header-content">
        <a class="header-button left" onclick="window.history.back();">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF">
                <polygon points="19.7 11 7.5 11 13.1 5.4 11.7 4 3.7 12 11.7 20 13.1 18.6 7.5 13 19.7 13"></polygon>
            </svg>
        </a>
        <h1 class="page-title">{{title}}</h1>
        <span class="header-button right" id="navbar">
            <svg width="20" height="20" viewBox="0 0 1792 1792" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" />
            </svg>
        </span>
    </div>
</div>
<span class="navigation" id="navigationid" style="display:none;">
    {{#if isAdmin}}
    <a href="sections">Admin-panel</a>
    {{/if}}
    <a href="new-route">Add route</a>
    {{#if isAuthenticated}}
       <span onclick="headerViewModel.CookieService.expireToken()"> <a href="/">Logout</a></span>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
</span>
