<div class="content-section image-picker">
    <h2>Route image (optional)</h2>
    <label for="files" class="submit-button neutral left no-select">{{#if_eq hasImage true}} Replace {{else}} Add {{/if_eq}} image</label>
    <input id="files" style="display:none;" type="file" accept="image/*" onchange="viewModel.UpdateCanvas(this);">
    <button onclick="viewModel.rotateImageClockwise()">rotate</button>
    {{#if_eq hasImage true}}
        <div class="image-container" id="canvas-container">
            <canvas id="route-edit-image" width="{{image.width}}" height="{{image.height}}">Canvas not supported</canvas>
            <a class="undo-button" onclick="rc.undo()">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M12.5,8C9.85,8 7.45,9 5.6,10.6L2,7V16H11L7.38,12.38C8.77,11.22 10.54,10.5 12.5,10.5C16.04,10.5 19.05,12.81 20.1,16L22.47,15.22C21.08,11.03 17.15,8 12.5,8Z" />
                </svg>Undo
            </a>
        </div>
    {{else}}
        <div class="no-image"></div>
    {{/if_eq}}
</div>