<div class="content-section string-input">
    <h2>Note (optional)</h2>
    <input class="note-input" type="text" placeholder="Describe additional information" onchange="viewModel.changeNote(this.value)" value="{{note}}" placeholder="Note">
</div>