<div class="content-section string-input">
    <h2>Route number</h2>
    <input class="number-input" type="number" onchange="viewModel.changeRouteNumber(this.value)" value="{{number}}" placeholder="Number" pattern="[0-9]*" inputmode="numeric" min="0" max="50">
</div>