<div class="content-section section-picker">
    <h2>Section</h2>
    <div class="radio-inputs">
        {{#each sections}}
        <input id="section-input-{{name}}" onclick="viewModel.changeSection('{{id}}')" name="section" type="radio">
        <label for="section-input-{{name}}" class="section-box">
            <span>{{name}}</span>
        </label>
        {{/each}}
    </div>
</div>