@import url('https://fonts.googleapis.com/css?family=Roboto');

/** GENERAL **/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    position: absolute;
    margin-top: 21px;
    float: left;
    font-size: 20px;
    color: white;
    line-height: 24px;
    text-align: center;
}

h2 {
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.40);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

input {
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    display: block;
    background-color: #424242;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.40);
}

.header-content {
    width: 100%;
    max-width: 304px;
    position: relative;
    margin: 0px auto;
}

.header-button {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 13px 11px 11px 11px;
    position: relative;
    z-index: 1;
}

.content {
    width: 100%;
    max-width: 304px;
    margin: 64px auto 0px auto; 
    padding: 8px;
    overflow: hidden;
}

.submit-button {
    padding: 11px 18px 10px 18px;
    float: right;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
    outline: none;
}

/** ROUTE LIST **/
.routes .content-section {
    width: 100%;
  /*  margin-bottom: 32px;*/
    display: block;
}

.options {
    width: 100%;
    height: 60px;
    display: block;
}

.drop-down-container {
    width: 72px;
    margin-right: 16px;
}

.drop-down-container:last-child {
    margin-right: 0px;
}

.drop-down {
    width: 100%;
    height: 24px;
    border: none;
    outline: none;
    color: #555555;

}

/** SINGLE ROUTE **/
.single-route .route-card {
    margin-bottom: 16px;
}

.delete-route-button {
    background-color: #EF5350;
}

.delete-route-button:active {
    background-color: #ED6F6D;
}

/* Route cards */
.route-card {
    margin-top: 16px;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.route-card-top {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.route-grade-number {
    width: 42px;
    height: 42px;
    float: left;
    color: rgba(245, 245, 245, 1.0);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.30);
    font-weight: bold;
}

.route-grade-number span {
    width: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
}

.route-section {
    margin-left: 8px;
    float: left;
    line-height: 42px;
}

.route-grip {
    width: 50px;
    float: right;
}

.route-card-bottom {
    height: 8px;
    padding: 8px 0px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.route-author {
    float: left;
}

.route-date {
    float: right;
}


/** NEW ROUTE **/
.new-route .content-section  {
    width: 100%;
    display: block;
}

.radio-inputs {
    margin-bottom: 12px;
    text-align: justify;
}

.radio-inputs input {
    display: none;
}

.radio-inputs label {
    width: 48px;
    height: 48px;
    vertical-align: top;
    display: inline-block;
}

.radio-inputs label.shadow {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 0;
    background-color: #FFF;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/* Section */
.section-picker label,
.color-picker label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #E0E0E0;
    background-color: #F5F5F5;
}

.section-picker label span,
.color-picker label svg {
    width: 46px;
    color: #222222;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    line-height: 49px;
}

.section-picker input:checked + label,
.color-picker  input:checked + label {
    background-color: #CCCCCC;
    border-color: #222222;
}

.color-picker svg {
    margin-left:3px;
    margin-top:3px;
}

/* Grade */
.grade-picker label {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.30)
}

.grade-checkmark {
    width: 24px;
    height: 24px;
    margin: 12px;
    display: none;
}

/* Route number and creator*/
.number-picker input,
.author-picker input {
    width: 100%;
    margin-bottom: 32px;
    border: none;
    border-bottom: 2px solid #009688;
    border-radius: 0px;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.number-picker input:focus,
.author-picker input:focus {
    outline: none;
}

.hold-box, .section-box {
    margin-bottom: 12px;
}

.grade-picker input:checked + label .grade-checkmark,
.color-picker input:checked + label .grade-checkmark {
    display: block;
}

/* Create button */
.create-route-button {
    background-color: #448AFF;
}

.create-route-button:active {
    background-color: #539FFF;
}

#error-message {
    display: none;
    background-color: #F44336;
    padding: 11px 18px 10px 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
}

#routeimage {
    width:50%;
    float:right;
    margin-top:5px;
}