@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.vm {
    vertical-align: middle;
}

.fl {
	float: left;
}

.fr {
    float: right;
}

.header, .header-stub {
    width: 100%;
    line-height: 50px;
	height: 50px;
	background-color: #424242;
}

.header {
    position: fixed;
}

.arrow {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: grey;
    float: left;
}

.page-title {
    margin-left: 10px;
    float: left;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

.button {
    float: right;
    margin: 26px 52px;
    padding: 0;
    border-radius: 112px;
    background-color: #2196F3;
    font-size: 35px;
    color: white;
    width: 112px;
    height: 112px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.button span {
    margin: 28px 42px;
    float: left;
    font-size: 48px;
}

.row {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0;
}

.row > *
{
    font-size: 16px;
}

.row-options{
    background-color: #F2F2F2;
}

.content {
    display: block;
}

.column {
    box-sizing: border-box;
    display:inline-block;
    padding: 5px;
}

.column-3 {
    width: 33.3333333333333%;
}

.column-2 {
    width: 50%;
}

.column-4 {
    width: 25%;
}

.option-title {
    font-size: 16px;
}

.option-content {
    width: 100%;
    height: 40px;
}

.row-route{
    white-space: nowrap;
    height: 40px;
    padding-bottom: 0px;
    line-height: 20px;
}

.route {
    margin: 5px;
    overflow: hidden;
    height: 80px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    box-shadow: 0px 0px 5px #CECECE;
}

.grade {
    text-align: center;
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: 1px solid lightgrey;
}

.grade-0 {
    color: white;
    background-color: green;
}

.grade-1 {
    color: white;
    background-color: blue;
}

.grade-2 {
    color: white;
    background-color: red;
}

.grade-3 {
    color: white;
    background-color: black;
}

.grade-4 {
    color: black;
    background-color: white;
}


.nowrap{
    white-space: nowrap;
}

.route .date,
.route .author {
    
}

