@import url('https://fonts.googleapis.com/css?family=Roboto');

/** GENERAL **/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    position: absolute;
    margin: 20px 0 20px 0;
    float: left;
    font-size: 20px;
    color: white;
    line-height: 24px;
    text-align: center;
}

h2 {
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.40);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

input {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

#error-message {
    display: none;
    background-color: #F44336;
    padding: 11px 18px 10px 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
    text-align: center;
}

.submit-button {
    padding: 11px 18px 10px 18px;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
    outline: none;
    cursor: pointer;
}

    .submit-button.positive {
        background-color: #4CAF50;
    }

        .submit-button.positive:active {
            background-color: #388E3C;
        }

    .submit-button.neutral {
        background-color: #2196F3;
    }
        .submit-button.neutral:active {
            background-color: #1976D2;
        }


    .submit-button.negative {
        background-color: #F44336;
    }

        .submit-button.negative:active {
            background-color: #D32F2F;
        }

/* Track */
.toggle-switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background: rgba(0,0,0,0.26);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}

/* Off */
    /* Thumb */
    .toggle-switch::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: 24px;
        height: 24px;
        background: #fafafa;
        box-shadow: 0 4px 8px rgba(0,0,0,0.28);
        border-radius: 50%;
        -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

/* On */
    /* Track */
    input:checked + .toggle-switch {
        background: rgba(33,150,243,0.5);
    }

    /* Thumb */
    input:checked + .toggle-switch::before {
        left: 20px;
        background: #2196F3;
    }

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-right {
    text-align: right;
}

.header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    display: block;
    background-color: #424242;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.40);
    z-index: 9999;
}

.header a,
.header span {
    cursor: pointer;
}

.header-content {
    width: 100%;
    max-width: 304px;
    position: relative;
    margin: 0px auto;
}

.header-button {
    width: 32px;
    height: 32px;
    padding: 8px;
    margin: 8px 12px 8px 12px;
    position: relative;
    z-index: 1;
}

.nav-menu-toggle .burger {
    display: block;
}

    .nav-menu-toggle.open .burger {
        display: none;
    }

.nav-menu-toggle .cross {
    display: none;
}

    .nav-menu-toggle.open .cross {
        display: block;
    }

.nav-menu {
    left: 0;
    width: 0%;
    position: fixed;
    z-index: 666;
    height: 100%;
    overflow: hidden;
    background-color: #424242;
    transition: width 0.5s cubic-bezier(0.92, -0.45, 0.17, 1.46);
}

    .nav-menu.open {
        width: 75%;
        -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.40);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.40);
    }

.nav-menu a {
    display: block;
    padding: 20px;
    font-size: 18px;
    white-space: nowrap;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.nav-menu > a:first-of-type {
    margin-top: 64px; 
}

.nav-menu-closer {
    left: 75%;
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 666;
    display: none;
}

    .nav-menu.open + .nav-menu-closer {
        display: block;
    }

.content {
    width: 100%;
    max-width: 304px;
    padding: 8px;
    padding-top: 72px;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

.content-section {
    width: 100%;
    display: block;
    clear: both;
}


.bottom-padding {
    padding-bottom: 8px;
}

/** ROUTE LIST **/
.options {
    width: 100%;
    height: 60px;
    display: block;
}

.drop-down-container {
    width: 72px;
    margin-right: 16px;
}

    .drop-down-container:last-child {
        margin-right: 0px;
    }

.drop-down {
    width: 100%;
    height: 24px;
    border: none;
    outline: none;
    color: #555555;
}

#newroute-button {
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #2196FE;
    border-radius: 28px;
    color: white;
    text-align: center;
    line-height: 56px;
    font-size: 48px;
}

/** SINGLE ROUTE **/
.single-route .route-card {
    margin-bottom: 16px;
}

/* Image */
.routeimage {
    margin: 12px 0 12px 0;
}

    .routeimage .submit-button {
        text-align: center;
    }

.note {
    margin: 0;
    text-align: justify;
}

#route-edit-image {
    width: 100%;
}

#canvas-container {
    width: 100%;
    clear: both;
    position: relative;
}


/* Route cards */
.route-card {
    margin-top: 16px;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.route-card-top {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.route-grade-number {
    width: 42px;
    height: 42px;
    float: left;
    color: rgba(245, 245, 245, 1.0);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.30);
    font-weight: bold;
}

    .route-grade-number span {
        width: 42px;
        display: inline-block;
        text-align: center;
        line-height: 42px;
    }

.route-section {
    margin-left: 8px;
    float: left;
    line-height: 42px;
}

.route-grip {
    width: 50px;
    float: right;
}

.route-card-bottom {
    height: 8px;
    padding: 8px 0px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.route-author {
    width: 200px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.route-date {
    float: right;
}

/** NEW ROUTE **/
.new-route .content-section {
    width: 100%;
    display: block;
}

    .radio-inputs input {
        display: none;
    }
    .radio-inputs label {
        width: 48px;
        height: 48px;
        margin: 0 12px 12px 0;
        display: inline-block;
    }

        .radio-inputs label:nth-child(5n+5) {
            margin-right: 0px;
        }

/* Section */
.section-picker label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #E0E0E0;
    background-color: #F5F5F5;
}

    .section-picker label span {
        width: 46px;
        color: #222222;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        line-height: 49px;
    }

.section-picker input:checked + label {
    background-color: #CCCCCC;
    border-color: #222222;
}

/* Grade */
.grade-picker label {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.30);
}

.grade-picker input:checked + label .grade-checkmark {
    display: block;
}

.grade-checkmark {
    width: 24px;
    height: 24px;
    margin: 12px;
    display: none;
}

/* Route number and creator*/
.string-input input {
    width: 100%;
    margin-bottom: 14px;
    border: none;
    border-bottom: 2px solid #009688;
    border-radius: 0px;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.number-picker input:focus,
.author-picker input:focus {
    outline: none;
}

.string-input input.invalid {
    border-bottom: 2px solid #EF5350;
}

.string-input input:focus {
    outline: none;
}

/* Holds */
.hold-picker .radio-inputs {
    margin-bottom: 12px;
}

.hold-picker .radio-inputs label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid transparent;
}

    .hold-picker label svg {
        width: 46px;
        height: 44px;
    }

.hold-picker .radio-inputs input:checked + label {
    background-color: #CCCCCC;
    border-color: #222222;
}

.hold-picker .tape-switch {
    margin: 0 0 24px 8px;
}

.undo-button {
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 30px;
    background-color: rgba(255,255,255,.7);
    padding: 0;
    margin: 0;
}

.no-image-added {
    text-align: center;
    font-size: small;
    border: 1px solid black;
    height: 100px;
    position: relative;
}

.no-image-text {
    position: absolute;
    width: 80%;
    top: 12px;
    height: 52px;
    left: 10%;
}

#search-field {
    outline: none;
    width: calc(100% - 50px);
    padding: 0 10px;
    border-style: solid;
    border-color: rgba(0,0,0,.4);
    border-radius: 10px;
    height: 30px;
    margin-top: -6px;
}

#canvas-container {
    padding-top:20px;
    outline: none;
}

/** ADMIN PANEL **/
.admin-panel .content-section > div:last-of-type {
    margin-bottom: 30px;
}

.button-group {
    width: 100%;
    float: left;
    margin-bottom: 12px;
}
    .button-group input {
        margin-left: 0;
    }

    .button-group input:first-of-type {
        float: left;
    }

    .button-group input:last-of-type {
        float: right;
    }